<template>
    <div>
        <h1 class="mt-5 mb-4 pb-2 text-uppercase text-center">Participação no Levantamento</h1>

        <div class="container-sm">
            <div class="form-group mb-5">
                <label for="municipio">Município</label>
                <select id="municipio"
                        class="form-control"
                        name="municipio"
                        v-on:change="municipioChanged"
                        v-model="municipio">
                    <option v-if="!municipios" value="null" disabled hidden>
                        Carregando municípios...
                    </option>
                    <template v-if="municipios !== null">
                        <option v-if="municipios.length === 0" value="null" disabled hidden>
                            Nenhum município disponível
                        </option>
                        <option v-if="municipios.length !== 0" value="null" disabled hidden>
                            Selecione um município
                        </option>
                        <option v-for="municipio in municipios" v-bind:value="municipio">
                            {{ municipio.nome }}
                        </option>
                    </template>
                </select>
            </div>

            <template v-if="municipio">
                <div class="form-group" v-for="produto in definicaoProdutos">
                    <label>
                        <input type="checkbox" class="mr-1" v-bind:value="produto" v-model="produto.selecionado"/>
                        {{ produto.nome }}
                    </label>
                </div>

                <button type="button" class="btn btn-dark btn-md mt-4 d-block mx-auto" v-on:click="salvar">
                    Salvar
                </button>
            </template>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        computed: {
            definicaoProdutos() {
                if(!this.produtosLevantamento[this.municipio.id]) {
                    return []
                }

                return this.produtos.map(produto => {
                    produto.selecionado = this.produtosLevantamento[this.municipio.id].filter(produtoLevantamento => produtoLevantamento.id === produto.id).length !== 0
                    return produto
                });
            },
            ...mapState([
                'municipios',
                'produtos',
                'produtosLevantamento',
            ]),
        },
        data() {
            return {
                municipio: null,
            }
        },
        methods: {
            municipioChanged() {
                this.$store.dispatch('getProdutosLevantamento', this.municipio)
            },
            salvar() {
                this.$http.post('levantamento/produtos', {
                    municipio: this.municipio.id,
                    produtos: this.definicaoProdutos.filter(produto => {
                        return produto.selecionado
                    }).map(produto => {
                        return produto.id
                    }),
                })
                    .then(response => response.json())
                    .then(data => {
                        this.$store.commit('addProdutosLevantamento', {
                            municipio: this.municipio,
                            produtos: data.data,
                        })

                        this.municipio = null
                    })
                    .catch(error => {
                        console.error('Falha ao enviar produtos: ' + error)
                    })
            },
        },
    }
</script>
